<template>
  <div class="home">
    <ProductList />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import ProductList from "@/components/ProductHome.vue"; // @ is an alias to /src

@Component({
  components: {
    ProductList,
  },
})
export default class Home extends Vue {}
</script>
<style>
</style>
