<template>
  <div>
      <ProductItem />
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import ProductItem from "../components/ProductItem.vue"

@Component({
  components: {
      ProductItem
  },
})
export default class Product extends Vue {}
</script>

<style>
</style>
